/* Created on : Apr 5, 2023, 11:26:00 PM       Author     : Reynaldo  */

.rodape{
    padding: 2em 5%;
    text-align: center;
    font-size: 0.7rem;
}
.rodape_logo{
    width: 11.25em;
    margin-bottom: 1em;
}
.rodape__lista-midias-sociais{
    display: flex;
    justify-content: center;
}
.rodape_infos-empresa{
    line-height: 1.5;
}
.rodape_secao + .rodape_secao{
    margin-top: 2em;
}
.rodape__lista-midias-sociais{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.rodape__item-midias-sociais{
    width: 2.62em;
    margin: 0.25em;
   }
.rodape__lista-midias-sociais{
    width: 2.62em;
}
.rodape__item-midias-sociais img{
    width: 100%;
}
.rodape__titulo{
    margin-bottom: 1em;
    font-size: 1.45em;
    font-weight: bold;
    text-transform: uppercase;
}
.rodape_item-lista{
    font-weight: 500;
    margin: 0.625em 0;
}
